<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <%- include("./partials/navbar.ejs") %>
    <header>
        <h1>Home Page</h1>
            <nav>
                <ul>
                    <li>
                        <a href="/users">Users</a>
                    </li>
                    <li>
                        <a href="/contents">Contents</a>                    
                    </li>
                    <% if(logged) { %>
                        <li>
                            <a href ="/users/<%=currentUser%>/profile">View Your Profile</a>
                        </li>
                    <% } %>
                </ul>
            </nav>
    </header>
    <main>
        <ul>
        <% for(let i = 0; i < users.length; i++) {%>
            <% for(let j = 0; j < users[i].content.length; j++) {%>
                <div class="card" style="width: 31rem;">
                    <a href="/contents/<%=users[i].content[j]._id%>" class="card-img-top"> 
                        <iframe src="<%=content[j].url%>"></iframe>
                    </a>
                    <div class="card-body">
                        <h5 class="card-title">Description</h5>
                        <p><%=users[i].content[j].description%></p>
                        <a href="/users/<%=users[i]._id%>"<%=users[i].username%> class="btn btn-primary"><%=users[i].username%></a>
                    </div>
                </div>

                <!-- <li>
                        <a href="/users/users[i]._id%>">users[i].username%></a>
                    </li>
                    <li>
                        <a href="/contents/users[i].content[j]._id%>"> 
                            <iframe src="content[j].url%>"></iframe>
                        </a>
                    </li>
                        <p><users[i].content[j].description%></p> -->
                    <%}%>
                    
            <%}%>
        </ul>
    </main>
</body>
</html>