<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Monoton|Red+Hat+Display|Righteous|Russo+One&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<%- include("./partials/navbar.ejs") %>
<body>
    <header>
        <h1 class="home-mixr">Mixs</h1>
            <nav>
                <ul>
                    <% if(logged) { %>
                        <li>
                            <a href ="/users/<%=currentUser%>/profile" class="view-profile">View Your Profile</a>
                        </li>
                    <% } %>
                </ul>
            </nav>
    </header>
    <main>
    <div class="home-cards">
        <% for(let i = 0; i < users.length; i++) {%>
            <% for(let j = 0; j < users[i].content.length; j++) {%>
            <div class="home-cards-inner">
                <div class="card" style="width: 31rem;">
                    <a href="/contents/<%=users[i].content[j]._id%>" class="card-img-top"> 
                        <iframe src="<%=users[i].content[j].url%>"></iframe>
                    </a>
                    <div class="card-body">
                        <h5 class="card-title">Description</h5>
                        <p><%=users[i].content[j].description%></p>
                        <a href="/users/<%=users[i]._id%>" class="btn btn-outline-info"><%=users[i].username%></a>
                    </div>
                </div>
            </div>
                    <%}%>
            <%}%>
        </div>
    </main>
</body>
</html>