<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Profile</title>
</head>
<body>
        <%- include("../partials/navbar.ejs") %>
    <main>
        <section>
            <h2 class="profile-h2"><%=user.username%></h2>
        </section>
        <section>
            <div class="profile-content">
            <ul>
                <% for(let i = 0; i < user.content.length; i++) { %>
                    <li>
                        <a href ="/contents/<%=user.content[i]._id%>"><iframe src="<%=content[i].url%>"></iframe>
                        </a>
                        <p><%=content[i].description%></p>
                        <a href="/contents/<%=user.content[i]._id%>/edit" class="btn btn-outline-info btn-sm">Edit Content</a>
                            <form action="/contents/<%=user.content[i]._id%>?_method=DELETE" method="POST" class="delete-mix-form"> 
                                <button type="submit" class="btn btn-info btn-sm">Delete Mix</button>
                            </form>       
                    </li>
                <%}%>
            </ul>
            </div>
        </section>
        <section >
                <a href="/contents/new" class="btn btn-info" id="profile-upload">Upload a new Mix</a>
        </section>
        <section class="profile-edit">
                <a href="/users/<%=user._id%>/edit" class="btn btn-info btn-sm">Edit User</a>
        </section>
        <section class="profile-delete">
                <form action="/users/<%=user._id%>?_method=DELETE" method="POST">
                    <button type="submit" class="btn btn btn-danger btn-sm">Delete Account</button>
                </form>
        </section>
            
    </main>
</body>
</html>