<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>
</head>
<body>
        <%- include("../partials/navbar.ejs") %>
    <header>
        <h1>Welcome to <%=user.username%>'s Page</h1>
        <nav>
            <ul>
                <li>
                    <a href="/home">Home</a>
                </li>
                <li>
                    <a href="/users">User Index</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <section>
            <h2><%=user.username%>'s Mix</h2>
            <ul>
                <% for(let i = 0; i < user.content.length; i++) { %>
                    <li>
                        <a href ="/contents/<%=user.content[i]._id%>">
                            <iframe src="<%=content[i].url%>"></iframe>
                        </a>
                        <p><%=content[i].description%></p>
                    </li>
                <%}%>
            </ul>
        </section>
    </main>
</body>
</html>